body {
    --bg-color: #282c34;
    --inverted-bg-color: #fafafa;
    --primary-color: #fafafa;
    --secondary-color: #d4c581;
    --inverted-primary-color: #282c34;
    --inverted-secondary-color: #d4c581;

    --block-color: rgb(201, 201, 201);
    --block-border-color: rgb(201, 201, 201);
    --inverted-block-color: #e6e6e6;
    --block-shadow-color: rgba(0, 0, 0, 0.25);
    --correct-color: rgb(151, 248, 112);

    --border-message: #7d9185;
    --bg-message: rgb(255, 255, 255);
}
