:root {
    --bg-color: #282c34;
    --inverted-bg-color: #fafafa;
    --primary-color: #fafafa;
    --secondary-color: #d4c581;
    --inverted-primary-color: #282c34;
    --inverted-secondary-color: #d4c581;
}
