.dialog {
    position: relative;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 20px;
    border-radius: 5px;
    min-width: 200px;
}

.content {
    /* Оставьте место для треугольника, уменьшив отступ справа */
    margin-right: 20px;
}

.triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #ffffff; /* Цвет треугольника соответствует фону блока */
    bottom: -10px; /* Расположение треугольника внизу */
    left: 20px; /* Расположение треугольника слева */
}
