.app {
    height: 100%;
    background-color: var(--inverted-bg-color);
    color: var(--inverted-primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
